.c-breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    &--item {
        padding-right: 5px;
        &:last-child {
            color: $c-breadcrumb-active;
        }
        a {
            color: $c-breadcrumb-color;
            &:hover {
                color: tint($c-breadcrumb-color, 15%);
            }
        }
    }
    &--trail {
        padding-right: 5px;
        svg {
            width: em($base-font-size);
            height: em($base-font-size);
            fill: $c-breadcrumb-active;
        }
    }
}