.c-btn {
    display: inline-block;
    padding: .75em 1.2em;
    text-decoration: none;
    background-color: $c-button-color;
    border-radius: 0;
    transition: background-color 0.1s;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: em($base-font-size);
    &:hover,
    &:focus {
        background-color: tint($c-button-color, 25%);
        @if is-color-light($c-button-color) {
            color: #000000;
        }
        @else {
            color: #ffffff;
        }
    }
    &:active {
        box-shadow: inset 0 0 2px shade($c-button-color, 30%);
    }
}

.c-btn {
    @each $types,
    $color in map-get($buttons, types) {
        &--#{$types} {
            @if $types==link {
                background-color: transparent;
                color: $color;
                &:hover,
                &:focus {
                    background-color: color(gray, light-100);
                    color: $color;
                }
                &:active {
                    box-shadow: inset 0 0 2px shade($color, 30%);
                }
            }
            @else {
                background-color: $color;
                @if is-color-light($color) {
                    color: #000000;
                }
                @else {
                    color: #ffffff;
                }
                &:hover,
                &:focus {
                    background-color: tint($color, 25%);
                    @if is-color-light($color) {
                        color: #000000;
                    }
                    @else {
                        color: #ffffff;
                    }
                }
                &:active {
                    box-shadow: inset 0 0 2px shade($color, 30%);
                }
            }
        }
    }
    &--small {
        font-size: em($base-font-size - 1);
    }
    &--large {
        font-size: em($base-font-size + 1);
    }
    &--block {
        width: 100%;
    }
}