//////////////////////////////////////////
///
//      Jewels Settings
//
//      This file is used to modify the framework to fit your needs. 
//      Below are the default variables used to set default properties to html elements.
///
////////////////////////////////////////////

/* Global Font And Text Settings */

$base-font: 14;
$heading1-font: 42px;
$heading2-font: 34px;
$heading3-font: 28px;
$heading4-font: 22px;
$heading5-font: 18px;
$heading6-font: 16px;
$font-weight-extra-light: 300;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 800;
$paragraph-xsmall: 12px;
$paragraph-small: 13px;
$link-color: color(blue, light-400);
$link-color-hover: color(blue, base);