/*------------------------------------*\
  #GLOBAL-SETTINGS
\*------------------------------------*/


/* Global Theme/Brand Setting */

$brand-color: color(gray, dark-700) !default;

/* Global Font And Text Settings */

$base-font-size: 14 !default;
$heading1-font: 42px !default;
$heading2-font: 34px !default;
$heading3-font: 28px !default;
$heading4-font: 22px !default;
$heading5-font: 18px !default;
$heading6-font: 16px !default;
$font-weight-extra-light: 300 !default;
$font-weight-light: 300 !default;
$font-weight-base: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-extra-bold: 800 !default;
$paragraph-xsmall: 12px !default;
$paragraph-small: 13px !default;
$font-family: sans-serif !default;
$font-weight: 400 !default;
$font-style: normal !default;

/* Default Settings */

$content-background: #fff !default;
$link-color: color(blue, base) !default;
$link-color-hover: color(blue, base) !default;

/* Default Layout Settings (Used for Grid and Media Queries) */

$screen-xsmall: 576px !default;
$screen-small: 768px !default;
$screen-medium: 992px !default;
$screen-large: 1200px !default;
$screen-xlarge: 1480px !default;

/* Layout Object Settings */

$o-container-padding: 0 10px !default;

/* Default Button Settings */

$c-button-color: color(grey, light-300) !default;
$c-button-primary: color(blue, dark-700) !default;
$c-button-secondary: color(blue, dark-600) !default;
$c-button-link: $link-color !default;
$c-button-brand: $brand-color !default;

/* Breadcrumb Settings */

$c-breadcrumb-color: $link-color !default;
$c-breadcrumb-active: color(gray, dark-700) !default;

/* Form Settings */

$c-label-color: color(gray, dark-800);
$c-input-border-color: color(gray, light-200) !default;
$c-checkbox-fill-color: $brand-color !default;
$c-radio-fill-color: $brand-color !default;

/* Navigation */

$c-navigation-link-color: $link-color !default;

/* Messages */

$error-color: color(red, base) !default;
$success-color: color(green, base) !default;
$warning-color: color(yellow, base) !default;
$caution-color: color(orange, base) !default;